body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(238, 233, 233);
}
body.dark-body{
  background-color: rgb(68, 66, 66);
}


.converter-container{
 background-color: blueviolet;
 padding: 20px;
}

.converter-container.dark-container{
  background-color: rgb(53, 18, 88);
}

.title{
  margin: 0;
  font-size: 30px;
  color: white;
}
.input-number{
  width: 30px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  outline: none;
  border: 2px solid rgb(138, 133, 133);
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.convert-btn{
  padding: 6px 12px;
  font-size: 11px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: none;
}

.conversion-container{
  background-color: white;
  margin: 15px 30px;
  border-radius: 10px;
  padding: 10px;
}
.conversion-container.dark-conversion-container{
  background-color: rgb(36, 35, 35);
  color: rgb(255, 255, 255);
}